#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  height: 50px;
  background: darkblue;
}

main {
  height: 100%;
}

h1 {
  margin: 20px 0;
}

.subtitle {
  color: gray;
  margin: 20px 0;
}

.currency-converter {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  font-size: 22px;
}

.equal {
  text-align: center;
}

.info {
  color: darkblue;
}

footer {
  height: 60px;
  background: darkblue;
}
