#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  height: 50px;
  background: darkblue;
}

main {
  height: 100%;
}

.currency-converter {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.equal {
  text-align: center;
}

footer {
  height: 60px;
  background: darkblue;
}
